.main-nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid $light-gray;
}

.left-nav > ul,
.right-nav > ul {
  display: flex;
  align-items: flex-start;
}

.left-nav > ul > li {
  font-size: 20px;
  font-family: $sans-serif;
  text-transform: capitalize;
  margin: 15px;
}

.right-nav > ul > li {
  font-size: 20px;
  font-family: $sans-serif;
  text-transform: capitalize;
  margin: 15px;
}

.right-nav > ul > li:last-of-type {

}

.left-nav > ul > li:hover,
.right-nav > ul > li:last-of-type:hover {
  color: $lightest-gray;
}

.left-nav span {

}


.right-nav i {
  font-size: 20px
}
